Repository stLmpp/api-bff: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npx sort-package-json

ci(): added test:ci command
  .github/workflows/npm-publish.yml
  .gitignore
  package.json
  packages/cli/package.json
  packages/core/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, npx sort-package-json

ci(): fix
  .github/workflows/npm-publish.yml
Due: none

ci(): do not fail on tests
  packages/cli/vitest.config.ts
  packages/core/vitest.config.ts
Due: none

ci(): added publish step
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write, npx sort-package-json

ci(): added publish step
  .github/workflows/npm-publish.yml
Due: none

fix(cli): fix version of @api-bff/core dependency
  packages/cli/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write, npx sort-package-json

fix(core): include correct files in the npm publish
  packages/cli/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write, npx sort-package-json

ci(): trying to fix package not being published completely
  packages/cli/package.json
  packages/core/package.json
Due: prettier --write, npx sort-package-json

fix(core): body was not being used in the HttpClientFetch test(core): added unit testing to HttpClientFetch
  packages/core/src/http-client/http-client-fetch.spec.ts
  packages/core/src/http-client/http-client-fetch.ts
Due: none

test(core): added unit testing to HttpClientGot
  packages/core/src/http-client/http-client-fetch.spec.ts
  packages/core/src/http-client/http-client-got.spec.ts
  packages/core/src/http-client/http-client-got.ts
Due: none

ci(core): fixed core not publishing dist folder, the unit tests were deleting it feat(cli): added script to help keep the dependencies.json up to date
  .github/workflows/npm-publish.yml
  package.json
  packages/cli/package.json
  packages/cli/scripts/dependency-checker.ts
  packages/cli/src/new/dependencies.json
  packages/cli/src/new/dependencies.ts
  packages/cli/vitest.config.ts
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write, npx sort-package-json

chore(): added commitlint to husky
  .commitlintrc
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx sort-package-json

chore(release): 0.0.0
  CHANGELOG.md
Due: prettier --write

chore(release): 0.1.6
  CHANGELOG.md
Due: prettier --write

chore(): added changelog
  .versionrc.json
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write, npx sort-package-json

feat(core): added http methods as methods in the HttpClient abstract class test(core): added unit testing to the new methods in the HttpClient
  .versionrc.json
  CHANGELOG.md
  packages/core/src/http-client/http-client-reponse.ts
  packages/core/src/http-client/http-client.spec.ts
  packages/core/src/http-client/http-client.ts
Due: prettier --write

chore(): revert CHANGELOG deleted
  CHANGELOG.md
Due: prettier --write

chore(): override clone method on HttpClientResponse
  packages/core/src/http-client/http-client-reponse.ts
Due: none

chore(core): added fs-extra and replaced path_exists method with pathExists feat(core): added logger
  packages/core/package.json
  packages/core/src/caching/file-caching.spec.ts
  packages/core/src/caching/file-caching.ts
  packages/core/src/config/config-logger.schema.ts
  packages/core/src/config/config.schema.ts
  packages/core/src/create-application.ts
  packages/core/src/init-api-config.ts
  packages/core/src/logger/console.ts
  packages/core/src/logger/logger-file.ts
  packages/core/src/logger/logger.ts
  packages/core/src/openapi/configure-openapi.ts
  packages/core/src/path-exists.ts
  pnpm-lock.yaml
Due: prettier --write, npx sort-package-json

test(core): increase coverage
  packages/core/src/openapi/format-end-point.spec.ts
  packages/core/src/openapi/get-content-schema-from-zod.spec.ts
  packages/core/src/openapi/get-error-schema.spec.ts
  packages/core/src/openapi/get-parameters.spec.ts
  packages/core/src/openapi/get-schema-from-zod.spec.ts
  packages/core/src/openapi/schema.spec.ts
Due: none

test(cli): increase coverage
  packages/cli/src/is-api-bff-project.spec.ts
Due: none

test(cli): increase coverage
  packages/cli/src/template/get-templates.spec.ts
Due: none

test(cli): increase coverage
  packages/cli/src/template/create-file-from-template.spec.ts
  packages/cli/src/template/create-file-from-template.ts
Due: none

chore(cli): removed TODO
  packages/cli/src/new/new.ts
Due: none

chore: update dependencies
  package.json
  packages/cli/package.json
  packages/cli/src/new/dependencies.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write, npx sort-package-json

chore: updated dependencies
  package.json
  packages/cli/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write, npx sort-package-json

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

chore: bump version
  packages/cli/package.json
  packages/core/package.json
Due: prettier --write, npx sort-package-json

fix: fixed packages version
  packages/cli/package.json
  packages/core/package.json
Due: prettier --write, npx sort-package-json

chore(release): 0.2.1
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

Update README.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts}
  npx sort-package-json: any of: package.json
